* {
  text-decoration: none;
  text-decoration-color: none;
}

@font-face {
  font-family: 'Bebas';
  src: url('Bebas Neue Bold.otf');
}

.intro h1 img {
  width: 150px;
  height: auto;
  border-radius: 50%;

  padding-right: .1em;
  padding-left: .1em;
}

.intro {
  margin: 2em 1em 2em 1em;
}
h3 {
  margin-bottom: 1em;
  margin-top: -3em;
}

h4 {
  width: 100%;
}

h1 {
  font-size: 200px;
  font-family: 'Bebas';
  padding: 0px;
  margin: 0;
}

h2 {
  font-size: 100px;
  color: #E75D54;
  margin-top: -.26em;
  font-family: 'Bebas';
  padding: 0px;
}

.intro h3, h4 {
  font-family: futura;
  font-size: 13px;
}

span img {
  /*   width: 15/0px; */
  height: auto;
  border-radius: 50%;
  margin: 2em 1em 0em 1em;
  float: left
}

/*GENERAL INFO*/
#general_info {
  font-family: 'Bebas';
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 2em 1em 2em 1em;
  color: inherit;
}

.loc {
  font-size: 97px;
  text-align: right;
  margin-bottom: -.1em;
}
.loc i {
  font-size: 83px;
  padding: 0 .1em 0 0;
  color: #E75D54;

}
.area {
  font-size: 100px;
  margin-top: -.18em;
  margin-bottom: -.19em;
  text-align: right;
  padding-right: .7em;
}

.area i {
  font-size: 100px;
  text-align: left;
  padding-right: .1em;
  color: #E75D54;
}

.phone {
  font-size: 79px;
  text-align: right;
  color: inherit;
}

.email {
  font-size: 42px;
  text-align: right;
  margin-top: -.2em;

}
.gmail {
  font-size: 55px;
  margin-top: -.15em;
  text-align: right;
}

.gmail i {
  font-size: 55px;
  text-align: left;
  padding-right: .1em;
  color: #E75D54;
}

/* BUTTONS */
#buttons img {
  width: 360px;
  height: auto;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 750px) {
  .intro h1, h2, h3, h4{
    text-align: center;
  }
  .intro h1 img {
    width: 115px;
    height: auto;
  }
  h3 {
    margin-top: -3em;
    margin-bottom: 3.5em;
  }
  h1 {
    font-size: 150px;
  }
  h2 {
    font-size: 75px;
  }
  h4 {
    padding: 0px;

  }
  #general_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4em 1em 1em 1em;
  }
  #buttons {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2.5em;
  }

  #buttons a img {
    margin: 1em 1em 1em 1em;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social i {
    padding-right: .5em;
    padding-left: .5em;
  }
}

@media only screen and (min-width: 751px) {
  .intro  {
    flex-direction: column;
  }
  h4 {
    width: 500px;

  }
  #general_info {
  margin-top: -29.5em;
  }

  h3 {
    margin-top: -8em;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social i {
    padding-right: .5em;
    padding-left: .5em;
  }
  #buttons a img {
    margin: 8em 1em 2.5em 1em;
  }
  #buttons {
    text-align: center;
  }

}
