*{
  text-decoration: none;

}

.rectangle {
  height: auto;
  margin: 29.5em 0 0 2.9em;
}
.rectangle2 {
  margin: -15.85em 0em 0em 27.2em;
}
.rectangle3 {
  margin: -15.93em 0 0 51.48em;
}

.rectangle img {
  width: 360px;
  height: auto;
}
.rectangle2 img {
  width: 360px;
  height: auto;
}
.rectangle3 img {
  width: 360px;
  height: auto;
}

.pic {
  top: .5em;
  left: 1.3em;
}
.Yankel {
  width: 150px;
  height: auto;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.hi {
  top: -2.1em;
  left: 4.5em;
}
h1 {
  color: black;
  font-family: bebas;
  font-size: 150px;
}
.name {
  top: 2.5em;
}
h2 {
  font-size: 70px;
  font-family: bebas;
  position: relative;
  color: #E75D54;
}
h4 {
  font-family: futura;
  font-style: Condensed Medium;
  font-size: 13px;
  margin: 17.3em 0 0 0;
}
.bio {
  top: 6.5em;
  left: 1em;
  right: 16em;
}
h3 {
  font-size: 12px;
  font-family: lato;
}

.general_info {
  text-align: right;
  max-width: 1100px;
  margin: 0 auto;
  float: right;
  text-align: right;
}
.miami {
  font-size: 70px;
  top: .3em;
  left: 12.5em;
}
.miami i {
  font-size: 80px;
  margin: -10em .2em 5em .8em;
  color: #E75D54
}
.florida {
  top: 1.2em;
  font-size: 80px;
  right: .7em;
}
.area i {
  font-size: 80px;
  margin: 0 .2em; 0 0;
  color: #E75D54
}
.area {
  top: 3.2em;
  font-size: 60px;
  right: 2.2em;
}
.phone {
  top: 4.07em;
  font-size: 63px;

}
.email {
  top: 13.5em;
  font-size: 25px;
  right: 2.7em;
}
.at {
  top: 5em;
  font-size: 65px;
  right: 4.1em;
  color: #E75D54

}
.gmail {
  top: 14.8em;
  font-size: 25px;
  right: 5.9em;
}

span {
  font-family: bebas;
  font-size: 50px;
  position: absolute;
  bottom: 1em;
  top: 1em;
  left: 1em;
  right: 1em;
}


.social {
  margin: 3em 0 0 33em;
}
.github {
  padding-left: .5em;
}
.twitter {
  padding-left: .5em;

}
.linkedin {
  padding-left: .5em;
}
